[Unit]
Description=Steam Screenshot Auto-Sync with Game Names
Documentation=https://github.com/PietHugen/SteamDeckScreenshotSync

After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/bin/steam-screenshot-sync.sh

[Install]
WantedBy=steam-screenshot-sync.path
